body{
  background-color: gray;
}

#trafficTop{
  background-color: Yellow;
  width: 25px;
  height: 220px;
  margin: auto;
}

#container {
  background-color: yellow;
  width: 200px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
}

.light {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
  &.red {background-color: #990000};
  &.yellow {background-color: #CC6600};
  &.green {background-color: #009933};
  &.selected {box-shadow: rgb(245, 245, 144)}
}